<mat-card>
    <div class="mat-card-header">
        <div #title class="mat-card-title">{{ song.title }}</div>
        <br>
        <div #artist class="mat-card-subtitle">{{ song.artist }}</div>
        
        <button mat-icon-button [matMenuTriggerFor]="rootMenu" class="burger">
            <i class="icon-menu"></i>
        </button>
        <mat-menu #rootMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="exportMenu">
                <span>{{ 'menu.export.title' | translate }}</span>
            </button>
        </mat-menu>

        <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="exportSt()">
            <span>{{ 'menu.export.st' | translate }}</span>
        </button>
        <button mat-menu-item (click)="exportSng()">
            <span>{{ 'menu.export.sng' | translate }}</span>
        </button>
        <button mat-menu-item (click)="exportPptx()">
            <span>{{ 'menu.export.pptx' | translate }}</span>
        </button>
        </mat-menu>
    </div>
    <mat-card-content>
        <div class="song">{{ song.preview }}</div>
        <table class="song_attr">
            <tr>
                <th>
                    <i class="icon-bpm"  matTooltip="{{ 'bpm' | translate }}"></i>
                </th>
                <td>
                    {{ song.bpm }}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="icon-book"  matTooltip="{{ 'books' | translate }}"></i>
                </th>
                <td>
                    <ul>
                        <li *ngFor="let book of song.books">{{ book }}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="editSong(song)">
            {{ 'browser.song.actions.editor' | translate }}
        </button>
        <button mat-button (click)="emitEditMeta( song )">
            {{ 'browser.song.actions.quickedit' | translate }}
        </button>
        <button mat-button (click)="del( song )">
            {{ 'browser.song.actions.delete' | translate }}
        </button>
    </mat-card-actions>
</mat-card>