@import '~assets/icons';
@import '~assets/colors';

mat-card{
    @media (min-width: 1200px) {
        width: calc((100% - 40px) / 5 - 5px);
    }
    @media (max-width: 1199px) {
        width: calc((100% - 20px) / 3 - 5px);
    }
    min-height: 260px;
    padding: 0;
    display: inline-block;
    margin-bottom: 20px;
}

.mat-card-header{
    background: $secondary;
    padding: 24px 40px 24px 24px;
    height: 24px;
    position: relative;
    display: block;
    flex-direction: unset;

    .mat-card-title{
        font-size: 1.2em;
        height: 1.2em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
    }
    .mat-card-subtitle{
        margin-top: -34px;
        color: rgba(0,0,0,.54);
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
    }

    .burger{
        position: absolute;
        right: 0;
        top: calc(50% - 20px);
    }
}

mat-card-content{
    padding: 24px;
}
mat-card-actions{
    margin: 0 !important;

    button {
        color: $grey;
        margin: 0;
        min-width: 0;
        padding: 0;
        width: calc(100% / 3 - 3px);
    }
    :hover{
        color: $black;
    }
}

.song_attr{
    width: 100%;
}
.song_attr th, td{
    padding-top: 10px;
}
.song_attr th{
    text-align: left;
    vertical-align: top;
}
.song_attr td{
    padding-left: 20px;
    
    ul{
        margin: 0;
        padding-left: 0;
    
        li{
            display: block;
        }
    }
} 
mat-card:hover .mods{
    display: inline-block !important;
}
.mods{
    display: none;
    position: absolute;
    right: 10px;
}

i{
    font-size: 1.3em;
    line-height: 1.3em;
    cursor: pointer;
}
i:hover{
    color: $light-primary;
}