<mat-card>
    <mat-card-header>
        <mat-card-title>{{ song.title }}</mat-card-title>
        <mat-card-subtitle>{{ song.artist }}</mat-card-subtitle>
        <div class="mods">
            <i class="icon icon-editor" (click)="editSong(song)"></i>
            <i class="icon icon-edit" (click)="emitEditMeta( song )"></i>
            <i class="icon icon-delete" (click)="del( song )"></i>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="song">{{ song.preview }}</div>
        <table class="song_attr">
            <tr>
                <th>
                    <i class="icon-bpm"></i>
                </th>
                <td>
                    {{ song.bpm }}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="icon-books"></i>
                </th>
                <td>
                    <ul>
                        <li *ngFor="let book of song.books">{{ book }}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>