<mat-card>
    <mat-card-header>
        <mat-card-title>{{ songgroup.name }}</mat-card-title>
        <div class="mods">
            <i class="icon icon-perform" (click)="performSonggroup()"></i>
            <i class="icon icon-edit" (click)="emitEditMeta( songgroup )"></i>
            <i class="icon icon-delete" (click)="delete( songgroup )"></i>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="event_preview">{{ songgroup.description }}</div>
        <table class="event_attr">
            <tr>
                <th>Songs</th>
                <td>
                    <ul>
                        <li *ngFor="let s of songs">{{ s }}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>