$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$cross: "\e899";
$plus: "\e900";
$minus: "\e902";
$full-screen: "\e903";
$edit: "\e904";
$perform: "\e905";
$editor: "\e906";
$books: "\e907";
$delete: "\e908";
$event: "\e909";
$settings: "\e90a";
$song: "\1f53e";
$bpm: "\e90c";

