$icomoon-font-family: "icons" !default;
$icomoon-font-path: "assets/icons/fonts" !default;

$icon-questionaire: "\e900";
$icon-bpm: "\e901";
$icon-open: "\e902";
$icon-save: "\e903";
$icon-share: "\e904";
$icon-menu: "\e905";
$icon-left: "\e906";
$icon-right: "\e907";
$icon-search: "\e908";
$icon-cross: "\e909";
$icon-minus: "\e90a";
$icon-plus: "\e90b";
$icon-microphone: "\e90c";
$icon-editor: "\e90d";
$icon-book: "\e90e";
$icon-delete: "\e90f";
$icon-edit: "\e910";
$icon-settings: "\e911";
$icon-calendar: "\e912";
$icon-song: "\e913";
$icon-songgroup: "\e914";

