
<div id="browser_content" class="content" [ngSwitch]="type">
    <h3>{{ headline }}
        <button mat-icon-button (click)="showAddForm()" class="add-button">
            <i class="icon icon-plus"></i>
        </button>
    </h3>
    <mat-form-field floatLabel="never">
        <input matInput id="search" [placeholder]="" autofill="false" [formControl]="searchControl">
        <i matPrefix class="icon-search"></i>
        <button mat-icon-button *ngIf="searchControl.value" matSuffix (click)="searchControl.setValue('')">
            <i class="icon icon-cross"></i>
        </button>
    </mat-form-field>
    <div id="songs">
        <mat-toolbar *ngSwitchCase="'songgroups'" [formGroup]="sortForm">
            <mat-toolbar-row>
                <span class="toolbar-entry">{{ 'browser.sortType' | translate }}</span>
                <mat-form-field class="toolbar-entry">
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let sortFunc of sortFunctions" [value]="sortFunc">
                            {{ sortFunc.name | sortTypeTranslation }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="toolbar-entry">{{ 'browser.sortDirection' | translate }}</span>
                <mat-form-field class="toolbar-entry">
                    <mat-select formControlName="direction">
                        <mat-option [value]="sortDirection.ASC">
                            {{ 'browser.sortDirection.asc' | translate }}
                        </mat-option>
                        <mat-option [value]="sortDirection.DESC">
                            {{ 'browser.sortDirection.desc' | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-grid-list [cols]="gridCols" rowHeight="260px" gutterSize="20px" *ngSwitchCase="'songs'" class="cards">
            <mat-grid-tile rowspan="1" colspan="1" *ngFor="let song of filteredElems" >
                <app-song [song]="song" (editMeta)="showAddForm(song)" (delete)="updateElems()"></app-song>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [cols]="gridCols" rowHeight="430px" gutterSize="20px" *ngSwitchCase="'songgroups'" class="cards">
            <mat-grid-tile rowspan="1" colspan="1" *ngFor="let group of filteredElems">
                <app-songgroup [songgroup]="group" (editMeta)="showAddForm(group)" (delete)="updateElems()"></app-songgroup>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
