@import '~assets/icons';

mat-form-field{
    width: 100%;
}

#browser_content{
    padding: 5%;
}

.add-button{
    top: -5px;
    height: 24px;
    width: 24px;
    line-height: 24px;
}

.icon-search{
    color: grey;
    margin-right: 10px;
}

mat-toolbar{
    margin-bottom: 24px;
}
app-song, app-songgroup{
    width: 100%;
}