.content{
  padding: 5%;
}

.do-not-show{
  opacity: 0;
  width: 1px;
  height: 1px;
}

.path{
  display: inline-block;
  margin-right: 20px;
}

.message{
  padding: 10px;
  background: lightsalmon;
  margin: 20px 0;
}