mat-card{
    height: 100%;
}
mat-card-content{
    height: 284;
    overflow: scroll;
}

.songgroup_attr{
    width: 100%;
}
.songgroup_attr th, td{
    padding-top: 10px;
}
.songgroup_attr th{
    text-align: left;
    vertical-align: top;
}
.songgroup_attr td ul{
    margin: 0;
    
    li{
        margin-bottom: 10px;
    }
}