<mat-card>
    <mat-card-header>
        <mat-card-title>{{ songgroup.name }}</mat-card-title>
        <button mat-icon-button [matMenuTriggerFor]="rootMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #rootMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="exportMenu">
              <span>{{ 'menu.export.title' | translate }}</span>
            </button>
          </mat-menu>

          <mat-menu #exportMenu="matMenu">
            <button mat-menu-item (click)="exportSt()">
                <span>{{ 'menu.export.st' | translate }}</span>
            </button>
          </mat-menu>
    </mat-card-header>
    <mat-card-content>
        <div class="songgroup_preview">{{ songgroup.description }}</div>
        <table class="songgroup_attr">
            <tr>
                <th>Songs</th>
                <td>
                    <ul>
                        <li *ngFor="let s of songs">{{ s }}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="performSonggroup()">
            perform <i class="icon icon-perform"></i>
        </button>
        <button mat-button (click)="emitEditMeta( songgroup )">
            edit metadata <i class="icon icon-edit"></i>
        </button>
        <button mat-button (click)="delete( songgroup )">
            delete <i class="icon icon-delete"></i>
        </button>
    </mat-card-actions>
</mat-card>