@import "~assets/fonts.scss";

#alert-container{
  position: relative;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  margin-left: -24px;

  #headline{
    margin-top: -24px;
    padding: 14px;
    margin-bottom: 12px;
    width: calc(100%);
    text-align: center;
    color: white;
    background: grey;
    box-sizing: border-box;
  }

  #content{
    padding: 24px;
    height: calc(100% - 155px);
    overflow: auto;
  }
  
  #actions{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    button{
      width: calc((100% - 10px) / 3);

      &:not(:last-child){
        margin-right: 5px;
      }
    }
  }
}