<mat-toolbar id="menu">
  <mat-toolbar-row>
    <button mat-button (click)="save()" [disabled]="!textfield.songHasChanged">{{ 'editor.save' | translate }}</button>
    <button mat-button (click)="performMode()">{{ 'editor.performMode' | translate }}</button>
    <span>{{ 'editor.transpose' | translate }}</span>
    <button mat-icon-button (click)="transposeDown()"><i class="icon icon-minus"></i></button>
    <span class="transpose-steps">{{ textfield.getStepsString() }}</span>
    <button mat-icon-button (click)="transposeUp()"><i class="icon icon-plus"></i></button>
  </mat-toolbar-row>
</mat-toolbar>

<div #content class="row streched-row fill">
  <ace-editor [text]="songIn$ | async" (value)="songOut($event)" #textfield [options]="aceOptions"></ace-editor>
  <app-preview [performMode]="false" [song]="song"></app-preview>
</div>
