@import '~assets/fonts';
@import '~assets/colors';
@import '~assets/icons';

app-songsheet-textarea, app-preview{
  display: inline-block;
  height: calc(100%);
  width: 49.8%;
  vertical-align: top;
}

mat-toolbar-row{
  span{
    font-size: 14px;
    padding: 0 16px;
  }
}
mat-icon-button{
  cursor: pointer;
}

.transpose-steps{
  width: 24px;
  text-align: center;
}

.row{
  flex-direction: row;
  display: flex;
  margin-bottom: 20px;
}
.col{
  flex-direction: column;
  width: 33%;
  display: flex;
  margin-right: 20px;
}
.stretch-row{
  max-height: 100%;
}
.stretch-col{
  max-width: 100%;
}
.fill{
  margin:	0;
  width: 100%;
  height: calc(100% - 56px);
  min-width: 100%;
  min-height: calc(100% - 56px);
}