@import '../../../assets/colors';

.closeCross{
    position: fixed;
    top: calc(50% - 130px);
    right: calc(50% - 305px);
    color: $grey;
    cursor: pointer;
}
.songselector-label{
    display: inline-block;
    cursor: move;
    width: 45px;
}
.dragable {
    padding: 18px;
    cursor: move;
}
.dragable:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.42);
}

.songselection-input{
    width: calc(100% - 70px);
    cursor: move;
}
mat-form-field{
    width: 100%;
    margin: 0 auto;
}
.mat-dialog-actions{
    float: right;
}