
<span [ngSwitch]="type">
    <mat-dialog-content>
        <span *ngSwitchCase="'songs'">
            <form>
                <mat-form-field>
                    <input matInput 
                        id="name" 
                        name="name" 
                        placeholder="{{ 'form.new.song.title' | translate }}"
                        required
                        autocomplete="off"
                        [(ngModel)]="song.title"
                        #songTitle
                    >
                    <mat-error>{{ 'form.new.song.title.hint' | translate }}</mat-error>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput 
                        name="artist" 
                        id="artist" 
                        placeholder="{{ 'form.new.song.artist' | translate }}" 
                        [(ngModel)]="song.artist"
                        autocomplete="off"
                    >
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput 
                        id="bpm" 
                        type="number" 
                        name="bpm" 
                        placeholder="{{ 'form.new.song.bpm' | translate }}" min="40" max="240"
                        [value]="song.bpm"
                        (input)="song.bpm = $event.target.value"
                        autocomplete="off"
                    >
                </mat-form-field>                       
    
                <mat-form-field>
                    <input matInput 
                        id="books" 
                        name="books" 
                        placeholder="{{ 'form.new.song.books' | translate }}" 
                        [(ngModel)]="songBooksStr"
                        autocomplete="off"
                    >
                    <mat-hint>Separate each book with ';'</mat-hint>
                </mat-form-field>
            </form>
        </span>
        <span *ngSwitchCase="'songgroups'">
            <form>
                <mat-form-field>
                    <input matInput 
                        id="name" 
                        name="name" 
                        placeholder="{{ 'form.new.songgroup.name' | translate }}" 
                        required 
                        autocomplete="off"
                        [(ngModel)]="songgroup.name"
                        #songTitle    
                    >
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                        name="description" 
                        id="description" 
                        placeholder="{{ 'form.new.songgroup.description' | translate }}" 
                        [(ngModel)]="songgroup.description"                           
                    >
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        [matDatepicker]="dp"
                        placeholder="{{ 'form.new.songgroup.date' | translate }}"
                        (dateChange)="songgroupDate = $event.target.value.toISOString(true)"
                        [value]="initDate"
                    >
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                        type="time" 
                        name="time" 
                        id="time" 
                        placeholder="{{ 'form.new.songgroup.time' | translate }}"
                        [(ngModel)]="songgroupTime"
                    >
                </mat-form-field>
                <mat-form-field class="songselection-input" floatLabel="never">
                    <input matInput type="text"
                        [formControl]="songSelect"
                        [value]="songUUID"
                        [matAutocomplete]="songselection"
                        placeholder="{{ 'form.new.songgroup.selectASong' | translate }}"
                        [attr.disabled]="songs.length === 0">
                    <mat-autocomplete #songselection="matAutocomplete" [displayWith]="showSong">
                        <mat-option *ngFor="let s of filteredSongs" [value]="s">{{ s.title }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-flat-button (click)="addSongField($event)" class="half_button">+</button>
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                    <div class="dragable" *ngFor="let song of songgroupSongs; let i = index" cdkDrag>
                        <span class="songselector-label"><label>{{ i+1 }}.</label></span>
                        <span>{{ song.title }}</span>
                    </div>
                </div>
            </form>
        </span>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">{{ 'form.new.cancel' | translate }}</button>
        <button mat-button (click)="onSave()" cdkFocusInitial color="primary">{{ 'form.new.save' | translate }}</button>
    </div>
</span>