$primary: #ff9100;
$light-primary: #ffc246;
$dark-primary: #c56200;

$secondary: #3d5aff;
$light-secondary: #8187ff;
$dark-secondary: #0031cb;

$black: #272727;
$dark-grey: #555555;
$grey: #AAAAAA;
$light-grey: #EEEEEE;
$white: #FBFBFB;
$light-white: #FFFFFF;