@import '../../../assets/colors';

app-preview{
  position: absolute;
  transition: all 200ms;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left{
  left: -100%;
}
.center{
  left: 0%;
  opacity: 1;
}
.right{
  left: 100%;
}

.counter{
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 2em;
}

.prev-button, .next-button{
  position: absolute;
  top: 50%;
  background-color: $secondary;
}
.prev-button{
  left: 1%;
}
.next-button{
  right: 1%;
}

.menu{
  position: absolute;
  top: 65px;
  right: 8px;
  z-index: 100;
  padding: 2px;
}
.menu-button{
  display: block;
  background: $secondary;
  color: $white;
  opacity: 0;
}
.menu:hover{
  .menu-button{
    animation: show-menu 100ms ease-in forwards;
  }
}
.menu:not(:hover){
  .menu-button{
    animation: hide-menu 100ms ease-in forwards;
  }
}

@keyframes show-menu{
  0% {opacity: 0; margin-top: 0px}
  100% {opacity: 1; margin-top: 10px}
}

@keyframes hide-menu{
  0% {opacity: 1; margin-top: 0px}
  100% {opacity: 0; margin-top: 10px}
}