$icomoon-font-family: "icons" !default;
$icomoon-font-path: "~../src/assets/icons/fonts" !default;

$icon-right: "\e901";
$icon-left: "\e908";
$icon-cross: "\e899";
$icon-plus: "\e900";
$icon-minus: "\e902";
$icon-full-screen: "\e903";
$icon-edit: "\e904";
$icon-perform: "\e905";
$icon-delete: "\e90b";
$icon-editor: "\e906";
$icon-books: "\e907";
$icon-songgroup: "\e909";
$icon-settings: "\e90a";
$icon-song: "\1f53e";
$icon-bpm: "\e90c";

